.button {
    padding: 1rem 1rem;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: filter 0.2;
    
    &__hidde {
      display: none;
    }

    &__order{
      background:  #28a745;
    }

    &__shut{
      background: rgb(199, 65, 65);
    }

    &__item{
      background: rgb(65, 85, 199);
    }

     &:focus, &:hover{
      background: orange; 
    }
  }