.button {
    padding: 1rem 1.5rem;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: filter 0.2;
    
    &__hidde {
      display: none;
    }

    &__order{
      background:  #28a745;
    }

    &__shut{
      background: rgb(199, 65, 65);
    }
  }