.title{
    text-align: center;
    padding: 1.3rem 0;
}

.container__photos{
   width: 100vw;
   text-align: center;
   padding: 1.3rem 0;
    &__img{
        border-radius: 5px;
        width: 45vw;
    }
}

.descript{
    padding: 0 1.3rem; 
}

.type {
    margin: 1.3rem;
    & span {
      margin-right: 0.8rem;
    }
  }

  .price {
    font-weight: bold;
    color: red;
  }