.title{
    text-align: center;
    padding: 1.3rem 0;
}

.container__photos{
   padding: 1.3rem 0;
}

.descript{
    padding: 0 1.3rem; 
    font-size: 1.5rem;
}

.type {
    margin: 1.3rem;
    font-size: 1.5rem;
    & span {
      margin-right: 0.8rem;
    }
  }

.price {
    font-weight: bold;
    color: red;
  }