@import url('./styles/reset.css'); 
@import url('./styles/font.css');
@import url('./styles/_variaveis.css');


* {
    scrollbar-width: thin !important;
    scrollbar-color: #65676a #1e1f22 !important;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1.1rem !important;
    height: 1.2rem !important;
  }
  
  *::-webkit-scrollbar-track {
    background: #1e1f22 !important;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #65676a !important;
    border-radius: 2rem !important;
    border: 0.3rem solid #1e1f22 !important;
  }
  
  *::-webkit-scrollbar-corner {
    background: #1e1f22 !important;
  }