.dishe {
  margin: 0 .5rem;

  &__content {
    & p {
      margin: 0.8rem;
    }

    &__select{
      cursor: pointer;
    }
    &__select:hover{
      border: .3rem solid red;
      padding: .5rem;
    }

    &__details{
      display: inline-block;
      cursor: pointer;
      background-color: rgb(7, 105, 185);
      color: white;      
      padding: .3rem;
      border-radius: 5px;    
      margin-bottom: .3rem;
    }

    &__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__descript {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }

    &__type {
      margin: 0 0 0.8rem 0.8rem;
      & span {
        margin-right: 0.8rem;
      }
    }

    &__price {
      font-weight: bold;
      color: red;
    }
  }
}
