.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__btn_Salvar{
        width: 25%;
        margin: 10px;
    }

    &__fields{
        display: flex;
        gap: 1rem;
        width: 80%;

        &__drink{
            display: none;
        }
    }

    &__photos{
        display: none;
        width: 98%;
        margin: .5rem 0;
    }
    &__photos__visible{
        display: block; 
    }
}