.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__btn_Salvar{
        width: 25%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border: 0px;
    }

    &__fields{
        display: flex;
        gap: 1rem;
        width: 80%;

        &__drink{
            display: none;
        }
    }

    &__carousel{
       margin-top: 1rem; 
       width: 100%;
    } 
}